<div class="row">
  <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="../../assets/images/img1.jpg">
          <img src="../../assets/images/img1.jpg" alt="Card Image" class="card-img-top">
        </a>
          <div class="card-body">
              <h6><a href="#">Lorem Ipsum</a></h6>
              <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
<a class="lightbox" href="../../assets/images/image3.jpg">
          <img src="../../assets/images/image3.jpg" alt="Card Image" class="card-img-top">
        </a>
          <div class="card-body">
              <h6><a href="#">Lorem Ipsum</a></h6>
              <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="../../assets/images/image3.jpg">
          <img src="../../assets/images/image3.jpg" alt="Card Image" class="card-img-top">
        </a>
          <div class="card-body">
              <h6><a href="#">Lorem Ipsum</a></h6>
              <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="../../assets/images/image4.jpg">
          <img src="../../assets/images/image4.jpg" alt="Card Image" class="card-img-top">
        </a>
          <div class="card-body">
              <h6><a href="#">Lorem Ipsum</a></h6>
              <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="../../assets/images/image5.jpg">
          <img src="../../assets/images/image5.jpg" alt="Card Image" class="card-img-top">
        </a>
          <div class="card-body">
              <h6><a href="#">Lorem Ipsum</a></h6>
              <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="../../assets/images/image6.jpg">
          <img src="../../assets/images/image6.jpg" alt="Card Image" class="card-img-top">
        </a>
          <div class="card-body">
              <h6><a href="#">Lorem Ipsum</a></h6>
              <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
          </div>
      </div>
  </div>
</div>
