
<app-banner></app-banner>
<section class="light-section intro-section-container">

	<div class="container">
		<div class="intro-section">
			<h3>More than one hundred years' experience</h3>
			<p>ACCIONA Construction is at the forefront in R&amp;D+ and one of the leading construction companies in the world, using the latest techniques to carry out projects.</p>
			<p><strong>ACCIONA Construction&nbsp;</strong>covers the <strong>whole range of construction</strong>, from <strong>engineering</strong> to the <strong>performance of works</strong> and their later <strong>maintenance</strong>, and also the <strong>management of public works concessions</strong>, particularly in the field of <strong>transport and social infrastructures</strong>.</p>
<p>The organization has three specialized business units: 1) <strong>Bridges, Roads and Special Structures</strong>; 2) <strong>Railroads and Tunnels</strong>; and 3) <strong>Ports and Hydro</strong>, together with the areas of <strong>Engineering</strong>, <strong>Concessions</strong> and other businesses (Metal structures, Maintenance, Machinery…).</p>
<p>In an increasingly globalized and complex world, <strong>ACCIONA Construction&nbsp;</strong>is firmly committed to international consolidation and expansion as a key element in its growth and development strategy. Working in this direction, the company has developed and participated in some of the biggest works projects in the world over the last 50 years.</p>
<p><em>Backlog&nbsp;includes Construction and Industrial*</em></p>
<p>&nbsp;</p>
		</div>
	</div>

<hr class="module-separator">

	

</section>

